/* canvas */
#bg-canvas {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -2;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Center menu */
.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    z-index: 2;
}

h2 {
    margin: 0;
    font-size: 3em;
    text-shadow: 0 0 5px #0ff, 0 0 15px #0ff, 0 0 30px #0ff;
}

.button-container {
    display: flex;
    gap: 20px;
}

button {
    color: white;
    border: none;
    padding: 16px 32px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.25s;
    text-shadow: 0 0 4px #fff, 0 0 8px #fff;
}

.red-btn {
    background: #E53935;
    box-shadow: 0 0 15px #E53935, 0 0 35px #E53935;
}

.red-btn:hover {
    transform: scale(1.12);
    background: #c62828;
}
